@layer tokens, reset, fonts, base, typography, components, utility;

@layer tokens {
  :root {
    --clr-neutral-0: hsl(0, 0%, 100%);
    --clr-neutral-50: hsl(0, 100%, 99%);
    --clr-neutral-100: hsl(0, 0%, 95%);
    --clr-neutral-200: hsl(0, 0%, 80%);
    --clr-neutral-700: hsl(0, 0%, 22%);
    --clr-neutral-800: hsl(0, 0%, 10%);
    --clr-neutral-900: hsl(0, 0%, 0%);

    --clr-bg-primary: ;
    --clr-bg-secondary: ;
    --clr-bg-tertiary: ;
    --clr-body-text: ;

    --ff-main: "Ubuntu";
    --ff-heading: "Orbitron";

    --fs-300: 0.75rem;
    --fs-350: 0.875rem;
    --fs-375: 0.9375rem;
    --fs-400: 1rem;
    --fs-450: 1.125rem;
    --fs-500: 1.25rem;
    --fs-600: 1.5rem;
    --fs-700: 2rem;
    --fs-725: 3rem;
    --fs-750: 4rem;
    --fs-800: 6rem;

    --fw-400: 400;
    --fw-700: 700;
    --fw-900: 900;

    --page-padding: 10px;

    --spacing-unit: 0.5rem;
    --spacing-xxs: calc(var(--spacing-unit) * 0.5); /* 4px */
    --spacing-xs: calc(var(--spacing-unit) * 1); /* 8px */
    --spacing-sm: calc(var(--spacing-unit) * 2); /* 16px */
    --spacing-md: calc(var(--spacing-unit) * 3); /* 24px */
    --spacing-lg: calc(var(--spacing-unit) * 4); /* 32px */
    --spacing-xl: calc(var(--spacing-unit) * 6); /* 48px */
    --spacing-2xl: calc(var(--spacing-unit) * 8); /* 64px */
    --spacing-3xl: calc(var(--spacing-unit) * 12); /* 96px */
    --spacing-4xl: calc(var(--spacing-unit) * 16); /* 128px */
    --spacing-5xl: calc(var(--spacing-unit) * 20); /* 160px */
    --spacing-6xl: calc(var(--spacing-unit) * 24); /* 192px */
    --spacing-7xl: calc(var(--spacing-unit) * 28); /* 224px */

    --section-space-mobile: var(--spacing-2xl);
    --section-space-tablet: var(--spacing-3xl);
    --section-space-desktop: var(--spacing-4xl);
    --section-space: var(--section-space-mobile);

    /* 

    Media Q 
    640px = 40rem
    768px = 48rem
    1000px = 62.5rem
    1440px = 90rem

    */
  }

  @media (min-width: 40rem) {
    :root {
      --page-padding: 20px;
      --section-space: var(--section-space-tablet);
    }
  }

  @media (min-width: 62.5rem) {
    :root {
      --page-padding: 30px;
      --section-space: var(--section-space-desktop);
    }
  }

  /* Animations */
}

@layer reset {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
  }

  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }

  img,
  picture,
  video,
  canvas,
  svg {
    display: block;
    max-width: 100%;
    height: auto;
  }

  input,
  button,
  textarea,
  select {
    font: inherit;
  }

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    overflow-wrap: break-word;
  }

  p {
    text-wrap: pretty;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-wrap: balance;
  }

  a {
    text-decoration: none;
  }

  ul,
  ol {
    list-style-type: none;
    padding-left: 0px;
  }

  button {
    padding: 0px;
  }
}

@layer fonts {
}

@layer base {
  /* Layout */

  .grid-main {
    --grid-main-gap: 10px;
    --max: 75rem;
    --content: min(100% - (2 * var(--page-padding)), var(--max));
    --col-size: calc((var(--content) - 2 * var(--grid-main-gap)) / 3);

    display: grid;
    grid-template-columns:
      minmax(var(--page-padding), 1fr)
      repeat(2, minmax(0, var(--col-size)) var(--grid-main-gap))
      minmax(0, var(--col-size))
      minmax(var(--page-padding), 1fr);
  }

  .grid-main > * {
    grid-column: 2 / -2;
  }

  @media (min-width: 40rem) {
    .grid-main {
      --grid-main-gap: 20px;
      --col-size: calc((var(--content) - 7 * var(--grid-main-gap)) / 8);

      grid-template-columns:
        minmax(var(--page-padding), 1fr)
        repeat(7, minmax(0, var(--col-size)) var(--grid-main-gap))
        minmax(0, var(--col-size))
        minmax(var(--page-padding), 1fr);
    }
  }

  @media (min-width: 62.5rem) {
    .grid-main {
      --grid-main-gap: 30px;
      --col-size: calc((var(--content) - 11 * var(--grid-main-gap)) / 12);

      grid-template-columns:
        1fr
        repeat(11, minmax(0, var(--col-size)) var(--grid-main-gap))
        minmax(0, var(--col-size))
        1fr;
    }
  }
}

@layer typography {
}

@layer components {
}

@layer utility {
  .skip-to-main {
    position: absolute;
    top: -80px;
    left: 0;
    background: #000;
    color: #fff;
    padding: 8px 16px;
    z-index: 100;
    text-decoration: none;
    font-weight: bold;
    transition: top 0.3s;
  }

  .skip-to-main:focus {
    top: 0; /* slide into view when focused */
  }

  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    white-space: nowrap;
    border: 0;
  }

  .hidden {
    display: none;
  }
}

/* 

To Do List 
 
 */
